h1 {
    font-family: serif;
    background-color: #f0eeeb;

}

body {
    font-family: 'urbanist', sans-serif;
    color: #262625;
    background-color: #f0eeeb;
    cursor: none;
}

footer {
    font-family: sans-serif;
    text-align: right;
    position:fixed;
    bottom:0;
    right:0
}

hr {
    color: #262625;
}

#blurBackground {
    position:fixed;
    z-index:-2;
    pointer-events:none;
}

#menuBar {
    font-family: 'Major Mono Display', monospace;
}

::selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
  }

a:link, a:visited {
    color: #736d68;
}